@import "tailwindcss";

@font-face {
  font-family: 'Roboto';
  src: url('/src/assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

:root {
  --font-family: 'Roboto', sans-serif;
  --color-scheme: light dark;
  --primary-color: #182327;
  --secundary-color: #fdf0e0;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  font-family: var(--font-family);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

img {
  border: 0;
}
.btn-primary {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  color: var(--secundary-color);
  background-color: var(--primary-color);
  cursor: pointer;
  transition: border-color 0.25s;
}

.btn-primary:hover,
.btn-primary:focus {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background-color: var(--secundary-color);
}

input {
  border: 2px solid var(--primary-color);
  border-radius: 8px;
  opacity: 0.5;
  color: var(--primary-color);
}
input:focus {
  opacity: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@layer utilities {
  .animate-fadeIn {
    transition-delay: 2s;
    animation: fadeIn 1s ease-in-out;
  }
}
